.admin{

display:flex;
height:90vh;

}


.rooms{

width:30%;
padding:20px;

background:#222;

color:white;

}


.chat{

width:70%;
padding:20px;

background:#111;

color:white;

}


#messages{

height:80vh;

overflow:auto;

background:black;

padding:20px;

}


.room{

padding:15px;

border-bottom:1px solid gray;

cursor:pointer;

}
body {
background:#111;
color:white;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}


.box {
width:350px;
background:#222;
padding:20px;
border-radius:15px;
}


input {
width:90%;
padding:12px;
margin:5px;
}


button {
padding:12px;
cursor:pointer;
}


#messages {
height:300px;
overflow:auto;
background:#000;
padding:10px;
}